img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: solid 1px #ededed;
    height: 5em;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 0 10px;
}

header nav {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

header div.e_header_contents {
    overflow: hidden;
    text-align: right;
    padding: 25px;
    display: none;
}

header div.e_header_contents a.e_header_content_item_pc {
    display: none;
}

.c_contents {
    padding-top: 7em;
    padding-left: 10px;
    padding-right: 10px;
}

.c_main .e_article_item {
    margin-bottom: 30px;
    text-align: left;
}

.c_main .e_article_item .e_article_contents {
}

.c_main .e_article_item .e_article_contents a {
    display: block;
    margin-bottom: 10px;
}

.c_main .e_article_item .e_article_contents .e_article_content_date {
    margin-top: 10px;
}

.c_main .e_article_item .e_article_contents .e_article_content_title {
    margin: 10px 0;
    font-weight: bold;
}

.c_main .e_article_item .e_article_contents .e_article_content_ditail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c_main .e_article_item .e_article_contents .e_article_content_read_more {
    text-align: right;
}

.c_main .e_article_item .e_article_contents .e_article_content_read_more a {
    display: inline;
    margin: 0;
    padding: 5px 10px;
    background: #212121;
    color: #fff;
}

/*
 * 記事詳細用スタイル
**/
.c_main .e_article_content {
    margin: 20px 0;
}

.c_main .e_article_content p img {
    display: block;
    margin: 20px 0;
}

.c_main .e_article_title {
    border-bottom: 1px solid #e0e0e0;
    color: #212121;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
}

.c_main .e_article_date {
    color: #fff;
    background: #212121;
    display: inline;
    padding: 5px 10px;
}

.c_main .e_article_topimg {
    max-width: 100%;
}

/*
 * サイドバー用スタイル
**/
.e_sidebar_categories {
    padding: 0 10px;
    margin-bottom: 60px;
}

.e_sidebar_categories .e_sidebar_title {
    border-bottom: 1px solid #e0e0e0;
    color: #212121;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 18px;
    margin-bottom: 0;
}

.e_sidebar_categories .e_sidebar_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.e_sidebar_categories .e_sidebar_list li {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: solid 1px #ededed;
    padding: 0px;
}

.e_sidebar_categories .e_sidebar_list li a {
    color: #666666;
    text-decoration: none !important;
    display: inline-block;
    line-height: 55px;
}

/*
 * フッター用スタイル
**/
footer {
    background: #212121;
    padding: 0 20px;
}

footer p {
    line-height: 3em;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

footer p a {
    color: #fff;
    font-weight: bold;
}

/*
 * コメント欄用スタイル
**/
.c_comment_area {
    overflow: hidden;
    margin: 0 10px;
}

.c_comment_area .e_comment_title {
    border-bottom: 1px solid #e0e0e0;
    color: #212121;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 18px;
    margin-bottom: 0;
}

.c_comment_area .logged-in-as,
.c_comment_area .comment-form-author,
.c_comment_area .comment-form-email,
.c_comment_area .comment-form-url {
    display: none;
}

.c_comment_area .comment-form-comment label {
    display: block;
}

.c_comment_area .comment-form-comment textarea {
    display: block;
    width: 720px;
}

.c_comment_area .form-submit {
    float: right;
}

.c_comment_area .form-submit input[type=submit] {
    background: #212121;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
}

.c_comment_lists {
    margin: 20px 0 0 0;
}

.c_comment_lists p {
    padding: 0;
    margin: 0;
}

.c_comment_lists .e_comment_item_title {
    font-weight: bold;
}

.c_comment_lists .e_comment_item_title span {
    font-weight: normal;
    color: #212121;
}